@using Ser_Etiqueta.Models
@model Ser_Etiqueta.Models.DB.UsuariosInfo
@{
    ViewData["Title"] = "Clientes";
}
@{
    var data = ViewBag.Message;
}
<h1 style="  color: #014377">@ViewData["Title"]</h1>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0" style="   color: #014377">Registro de Clientes</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home </a></li>
                    <li class="breadcrumb-item active">Clientes</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title" style=" color: #014377;">
                    <i class="fas fa-dot-circle mr-1"></i>
                    Registros
                </h3>
                <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#revenue-chart" data-toggle="tab" style="  background: #BB0423;">Registro de clientes</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link" href="#sales-chart" data-toggle="tab">Sucursales</a>
                        </li>*@
                    </ul>
                </div>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content p-0">
                    <!-- Morris chart - Sales -->
                    <div class="chart tab-pane active" id="revenue-chart" style="position: relative; ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="button" class="btn col-12" style=" background: #014377; color:white" onclick="addNew()">Agregar nuevo</button>
                                </div>
                            </div>

                            <div class="col-md-6">
                                @if (User.IsInRole("SuperAdmin"))
                                {
                                    <div class="form-group">
                                        <label>Empresa </label>
                                        <select class="form-control select2bs4" style="width: 100%;" id=Empresa onchange="getSucursal(this.value)">
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label >Sucursal</label>
                                        <select class="form-control select2bs4" style="width: 100%;" id=Sucursal value="">
                                            @*<option value="0" selected>No tiene</option>*@
                                        </select>
                                    </div>

                                    <form id="frmupload" method="post" enctype="multipart/form-data">
                                        <div class="input-group mb-3">

                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="excel" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                                <label class="custom-file-label" for="customFile"></label>
                                            </div>
                                            <div class="input-group-append">
                                                <button class=" btn " type="submit" id=subir style=" color: white;background: #014377">
                                                    <i class="fas fa-arrow-alt-circle-up mr-1"></i> Cargar
                                                    &nbsp;<span id="cargando" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                    <span class="sr-only">Loading...</span>
                                                </button>
                                            </div>

                                        </div>

                                    </form>
                                }
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12">

                                <table id="example" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>


                                            <th>Codigo</th>
                                            <th>Nombre del Cliente</th>
                                            <th>Nombre Comercial</th>
                                            <th>Departamento</th>
                                            <th>Municipio</th>
                                            <th>Direccion</th>
                                            <th></th>

                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>

                                            <th>Codigo</th>
                                            <th>Nombre del Cliente</th>
                                            <th>Nombre Comercial</th>
                                            <th>Departamento</th>
                                            <th>Municipio</th>
                                            <th>Direccion</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- /.card-body -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title" style="color: #014377;">
                    <i class="fas fa-bus mr-1"></i>
                 Destinos
                </h3>
                <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">
                        <li class="nav-item">
                            @*<a class="nav-link active" href="#revenue-chart" data-toggle="tab">Registro de empresas</a>*@
                        </li>
                        <li class="nav-item">
                            @*<a class="nav-link" href="#sales-chart" data-toggle="tab">Sucursales</a>*@
                        </li>
                    </ul>
                </div>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="hidden"  id="idLogo"  value="0"/>
                        <label>Destinos Actuales</label>
                        <select class="form-control select2bs4" style="width: 100%;" id=Destino>
                        </select>
                    </div>
                 <h4 style="color:#014377">Nuevo Destino</h4>
                     <div class="form-group">
                        <label>Ddepartamento </label>
                        <select class="form-control select2bs4" style="width: 100%;" id=dDepartamento  onchange="getMunicipio(this.value,3)">
                        </select>
                    </div>
                 <div class="form-group">
                        <label>Municipio </label>
                        <select class="form-control select2bs4" style="width: 100%;" id=dMunicipio>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text"  class="form-control" id="nDestino" placeholder="Nuevo destino"/>

                    </div>
                    <div class="form-group">
                        <button type="button" class="btn col-12" style="background:#014377; color:white;"  id="crearDestino">Crear nuevo destino</button>
                    </div>
                </div>
            </div><!-- /.card-body -->
        </div>

<div class="modal fade" id="modalCRUD" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" style='overflow-y: auto; height:450px; '>
                <input type="hidden" id="idCliente"  value="">
                <div class="row" id="showfrm">



                </div>
                <div class="row">
                    <div class="col-12">

                        <div class="form-group">
                            <button type="button" class="btn btn-outline-primary col-12" id="btnGuardar">Guardar registro</button>
                        </div>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>



<script type="text/javascript">
    var urlDepartamento = "@Url.Action("getDepartamento", "Departamento")";
    var urlMunicipio = "@Url.Action("getMunicipio", "Departamento")";
    var idEmpresa = "@Model.idEmpresa";
    var idSucursal = "@Model.idSucursal";
    var urlInsert  = "@Url.Action("insert", "Cliente")";
    var urlInsertSucursal = "@Url.Action("insert", "Sucursal")";
    var urlForm = "@Url.Action("Form", "Cliente")";
    var urlLoad = "@Url.Action("cargarClientes", "Cliente")";
    var urlLoadSucursal = "@Url.Action("cargarSucursales", "Sucursal")";
    var urlGetCliente = "@Url.Action("GetCliente", "Cliente")";
    var urlGetSucursal = "@Url.Action("GetSucursal", "Sucursal")";
    var urlUpdate = "@Url.Action("UpdateCliente", "Cliente")";
    var urlUpdateSucursal = "@Url.Action("UpdateSucursal", "Sucursal")";
    var urlUpload = "@Url.Action("cargarExcel", "Cliente")";
    var urlCargarEmpresas = "@Url.Action("cargarEmpresas","Empresa")";
     var urlSucursal = "@Url.Action("getSucursales", "Sucursal")";;
     var urlDestinos = "@Url.Action("Destinos_Sersa", "Cliente")";
     var urlCrearDestino = "@Url.Action("crearDestinoSersa", "Cliente")";
     
</script>

<script src="~/adminlte/js/load_select.js"></script>
<script src="~/adminlte/js/Clientes.js"></script>
