@using Ser_Etiqueta.Models
@model Ser_Etiqueta.Models.DB.UsuariosInfo
@{
    ViewData["Title"] = "Ordenes";
}
@{
     var idEmpresa= Model.idEmpresa;
    
}

<h1 style="  color: #014377">@ViewData["Title"] </h1>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0" style="   color: #014377">Historial de Ordenes</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home </a></li>
                    <li class="breadcrumb-item active">Ordenes</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title" style=" color: #014377;">
                    <i class="fas fa-dot-circle mr-1"></i>
                    Registros
                </h3>
                <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#revenue-chart" data-toggle="tab" style="  background: #BB0423;">Registro de ordenes</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link" href="#sales-chart" data-toggle="tab">Sucursales</a>
                            </li>*@
                    </ul>
                </div>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content p-0">
                    <!-- Morris chart - Sales -->
                    <div class="chart tab-pane active" id="revenue-chart" style="position: relative; ">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="button" class="btn col-12" style=" background: #014377; color:white" onclick="addNew()">Crear nueva Orden</button>
                                </div>
                            </div>
                                <div class="col-md-6">
                                @if (User.IsInRole("SuperAdmin"))
                                {
                                    <div class="form-group">
                                        <button type="button" class="btn col-12 btn-outline-info"  onclick="importarOrdenes()" >
                                            <i class="fa fa-upload "></i>
                                            Importar Ordenes
                                        </button>
                                    </div>
                                    }
                                </div>
                        

                        </div><br />
                              <div class="row">
                                  <div class="input-group col-sm-3">
                                      <label>&nbsp Desde:  &nbsp  &nbsp</label>
                                      <div class="input-group-prepend">
                                          <span class="input-group-text">
                                              <i class="far fa-calendar-alt"></i>
                                          </span>
                                      </div>
                                      <input type="date" class="form-control " id="DateInicio" name=DateInicio>
                                  </div>

                                  <div class="input-group col-sm-3">
                                      <label>Hasta:  &nbsp  &nbsp </label>
                                      <div class="input-group-prepend">
                                          <span class="input-group-text">
                                              <i class="far fa-calendar-alt"></i>
                                          </span>

                                      </div>
                                      <input type="date" class="form-control" id="DateFinal" name="DateFinal">
                                  </div>
                                  <div class='text-left'>
                                      <div class='btn-group'>
                                          <div class="input-group col-sm-6">
                                              <button class="btn btn-block " style=" background: #014377; color:white" id="filtro" name="filtro" type=button onclick="filtro()">
                                                  <i class="fa fa-filter "></i> Filtrar
                                              </button>
                                          </div>
                                          <div class="input-group col-sm-6">
                                              <button class="btn btn-block " style=" background: #014377; color:white" id="filtro" name="filtro" type=button onclick="descargarExcel()">
                                                  <i class="fa fa-download "></i> Descargar
                                              </button>
                                          </div>
                                          <div class="input-group col-sm-6">
                                              <button class="btn btn-block btn-outline-dark " id="limpiar" name="limpiar" type=button onclick="loadTable()">
                                                  <i class="fa fa-eraser "></i> Limpiar Filtro
                                              </button>
                                          </div>
                                      </div>
                                  </div>
                                      </div><br />

                                      <div class="row">

                                          <div class="col-md-12">

                                              <table id="example" class="table table-striped table-bordered" style="width:100%">
                                                  <thead>
                                                      <tr>


                                                          <th>Id Orden</th>
                                                          <th>Empresa</th>
                                                          <th>Fecha de Creacion</th>
                                                          <th>Estado</th>
                                                          <th></th>

                                                      </tr>
                                                  </thead>

                                                  <tfoot>
                                                      <tr>

                                                          <th>Id Orden</th>
                                                          <th>Empresa</th>
                                                          <th>Fecha de Creacion</th>
                                                          <th>Estado</th>
                                                          <th></th>
                                                      </tr>
                                                  </tfoot>
                                              </table>
                                          </div>
                                      </div>
                                  </div>

                              </div>
            </div><!-- /.card-body -->
        </div>
    </div>
</div>



<div class="modal fade" id="modalCRUD" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" style='overflow-y: auto; height:450px; '>
                <input type="hidden" id="idCliente" value="">
                <div class="row" id="showfrm">



                </div>
                <div class="row">
                    <div class="col-12">

                        <div class="form-group">
                            <button type="button" class="btn btn-outline-primary col-12" id="btnGuardar">Guardar registro</button>
                        </div>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>



<script type="text/javascript">
    var urlDepartamento = "@Url.Action("getDepartamento", "Departamento")";
    var urlMunicipio = "@Url.Action("getMunicipio", "Departamento")";
    var idEmpresa = "@Model.idEmpresa";
    var idSucursal = "@Model.idSucursal";
    var urlInsert  = "@Url.Action("insert", "Orden")";
    var urlInsertSucursal = "@Url.Action("insert", "Sucursal")";
    var urlForm = "@Url.Action("Form", "Cliente")";
    var urlLoad = "@Url.Action("cargarOrdenes", "Orden")";
    var urlLoadSucursal = "@Url.Action("cargarSucursales", "Sucursal")";
    var urlGetCliente = "@Url.Action("GetCliente", "Cliente")";
    var urlGetSucursal = "@Url.Action("GetSucursal", "Sucursal")";
    var urlUpdate = "@Url.Action("UpdateEstado", "Orden")";
    var urlUpdateSucursal = "@Url.Action("UpdateSucursal", "Sucursal")";
    var urlUpload = "@Url.Action("cargarExcel", "Cliente")";
    var urlFiltro = "@Url.Action("Filtro", "Orden")";
    var urlimport = "@Url.Action("Importar", "Orden")";
    var urlDeleteOt="@Url.Action("eliminarOt", "Orden")";

</script>

<script src="~/adminlte/js/load_select.js"></script>
<script src="~/adminlte/js/Ordenes.js"></script>